<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shift" href="/tabs/shift">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Turnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="volunteers" href="/tabs/volunteers">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Voluntarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="boxes" href="/tabs/boxes">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Cajas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/tabs/account">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
